# Dependencias
node_modules/

# Variables de entorno
.env
backend/.env
backend/src/portal-users.json
backend/uploads/productos/*
!backend/uploads/productos/.gitkeep

# Build 
dist/
frontend/dist/

# Logs
*.log
npm-debug.log*

# SO
.DS_Store
Thumbs.db

.idea/
