PORT=3000

DB_ENABLED=true

DB_USER=ECOMMERCE_APP
DB_PASSWORD=change_me

DB_SCHEMA=ADMIN

DB_CONNECTION_STRING=ecommerce_high

TNS_ADMIN=C:/ruta/a/Wallet_ECOMMERCE


DB_WALLET_PASSWORD=change_me

DB_USE_THICK=false
